* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.map {
  width: 100vw;
  height: 100vh;
}

#modal {
  min-height: 100px;
  min-width: 380px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  display: none;
  padding: 30px 20px 20px;
  max-width: 12vw;
}

.modal__body {
  position: relative;
}

.modal__cross {
  height: 16px;
  width: 16px;
  position: absolute;
  top: -20px;
  right: -10px;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a9a9a9;
    transform: rotate(45deg) translate(5px,5px);
  }

  &::before {
    transform: rotate(-45deg)translate(-5px,5px);
  }
}

.modal_info {
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__input {
  margin-bottom: 10px;
  width: 100%;
  padding: 11px;

  &:focus {
    outline: 1px solid blue;
  }
}

.form__input-textarea {
  margin-bottom: 20px;
  padding: 11px;
  resize: none;

  &:focus {
    outline: 1px solid blue;
  }
}

.btn {
  padding: 10px 16px;
  background: #ff8663;
  border: transparent;
  border-radius: 3px;
  cursor: pointer;
  font-style: 14px;
  font-weight: bold;
  color: white;

  &:hover {
    color: #ff8663;
    background: #ccc;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}
