<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="modal">
    <div class="modal__body">
      <div class="modal__cross"></div>
      <div class="modal_info">Отзыв:</div>
      <form id="reviewForm" class="form">
        <div class="form__col">
          <input type="text" placeholder="Укажите ваше имя" id="name" class="form__input">
          <input type="text" placeholder="Укажите место" id="spot" class="form__input">
        </div>
        <textarea name="" id="" class="form__input-textarea" placeholder="Оставить отзыв" cols="10" rows="5"></textarea>
        <div class="form__btn"><button type="submit" class="btn">Добавить</button></div>
      </form>
    </div>
  </div>

  <div class="map" id="map"></div>
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</body>

</html>